body {
  font-family: 'Roboto', sans-serif;
  color: #2F4F4F;
  background-image: linear-gradient(#2F4F4F, #f1f2f4);
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5px;
  margin: auto;
  max-width: 1200px;
  width: 90%;
  opacity: .9;
}

.grid-item {
  border-bottom: 1px dotted #2F4F4F;
}

.grid-item-1, .grid-item-2, .grid-item-5 {
  grid-column: 1 / span 2;
  background-color: #fff;
  text-align: center;
}

.grid-item-2, .grid-item-5 {
  padding: 5px;
}

.grid-item-3, .grid-item-4 {
  background-color: #fff;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  max-width: 850px;
  margin: 2rem auto;
  justify-content: center;
}

.flexItem {
  margin: 0px 5px;
}

.flexItem:first-child {
  margin: 0;
}

table {
  background-color: #f1f2f4;
  margin-bottom: 5px;
  border-bottom: 1px dotted #2F4F4F;
}

table th {
  border-bottom: 1px dotted #2F4F4F;
}

table img {
  width: 95%;
}

img, p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

img {
  border: 1px dotted #2F4F4F;
}

p {
  font-size: 14px;
}

ul li {
  list-style-type: circle;
}

ol {
  list-style-type: none;
}

h1 {
  font-size: xx-large;
}

h3, h4 {
  text-align: center;
}

h4 {
  font-style: italic;
}

a {
  color: #2F4F4F;
  font-size: 14px;
  font-weight: bolder;
  text-decoration: none;
}

a:hover {
  color: #fff;
  background-color: #2F4F4F;
}